.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.content{
  flex-direction: column;
}

.icon-wrapper{
  position: relative;
}

.foreground{
  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  
}

.background{
  width:100%;
	height:auto
}

.button{
  padding-top: 5%;
  background-color: #282c34;
  border-radius:30px;
  border:2px solid #ffffff;
  color:#ffffff;
  font-size:17px;
	padding:17px 48px;
	text-decoration:none;
}

.button:focus { 
  outline: none; 
}

.button:hover{
  background-image: linear-gradient(315deg,#ffd43b, #f59395,#9eb2f4, #85ccd4);
  border: 2px solid #ffffff;
  color: #ffff;
}


